<section data-scroll-index="2">
    <div class="case-studies">
        <div class="header">
            <h1 class="title">{{ .Site.Params.case_studies.Title }}</h1>
            <h2 class="subtitle">{{ .Site.Params.case_studies.Subtitle }}</h2>
        </div>
        <div class="case-studies-wrapper">
            {{ $baseUrl := .Site.BaseURL }}
            {{ range where .Site.Pages "Kind" "page" }}
            <div class="case-study-item">
                <div class="img_div">
                    <a href="{{ .URL }}"> 
                        <img src="{{ $baseUrl }}img/{{ .Params.thumbnail }}" alt="">
                        <div class="mask">
                            <h3>{{ .Params.case_short_title }}</h3>
                            <p>{{ .Params.case_subtitle }}</p>
                        </div> 
                    </a>
                </div>
                <h1 class="out_title">{{ .Params.case_short_title }}</h1>
                <h3 class="out_text">{{ .Params.case_subtitle }}</h3>
            </div>
            {{ end }}
        </div>
    </div>
</section>
